<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics Booking Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/Images/logo.png">
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Logistics Booking</h1>
        <p>Click the button below to book your logistics.</p>
        
        <!-- Button Container -->
        <div class="button-container">
            <button type="button" class="cancel-button" onclick="window.location.href='/cancel.html'">Cancel Booking</button>
            <a href="/form.html" class="button">Book Now</a>
        </div>
    </div>
</body>
</html>
